<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>

<pre>Livro: {{ livro | json }}</pre>

<hr>

{{valorAsync | async}} - 
{{valorAsync2 | async}}

<hr>

<input type="text" placeholder="Filtrar curso" [(ngModel)]="filtro"><br><br>
<input type="text" placeholder="Adicionar curso" #novoCurso>
<button type="button" (click)="addCurso(novoCurso.value)">Add Curso</button>

<h2>Pipe Puro</h2>

<ul>
  <li *ngFor="let livro of livros | filtroArray:filtro">
    {{livro}}
  </li>
</ul>

<h2>Pipe Impuro</h2>

<ul>
  <li *ngFor="let livro of livros | filtroArrayImpuro:filtro">
    {{livro}}
  </li>
</ul>

<h2>Maneira correta de filtrar</h2>

<ul>
  <li *ngFor="let livro of obterCurso()">
    {{livro}}
  </li>
</ul>